<!DOCTYPE html>
<html>
{% extends 'navigationBar.html'%}
{% block content %}

<body>

    <h1>Game page</h1>
    <table>
        <tr>
            <th>game id</th>
            <th>game name</th>
            <th>game status</th>
            <th>game points</th>
            <th>del</th>
            <th>change status</th>
        </tr>
        {%for game in games%}
        <tr>
            <td>
                <p>{{game.id}}</p>
            </td>
            <td>
                <p>
                    {{game.name}}</p>
            </td>
            <td>
                <p>
                    {{game.active}}</p>
            </td>
            <td>

                {%for teamPoint in game.points%}
                {%if teamPoint != "-1"%}
                <p>
                    {{teams[(teamPoint|int)-1].name}}:{{game.points[teamPoint]["total"]}}
                </p>
                {%endif%}
                {%endfor%}

            </td>
            <td>
                <form action="/games" method="post">
                    <button name="removeGameId" style="visibility:show" value="{{game.id}}">remove</button>
                </form>
            </td>
            <td>
                <form action="/games" method="post">
                    <button name="setStatus" style="visibility:show">active/deactivate</button>
                    <input name="gameId" type="hidden" value={{game.id}}>
                </form>
            </td>
        </tr>
        {%endfor%}
    </table>


    <form action="/games" method="post">
        <input type="text" name="game_name" required>
        <button name="add_team" style="visibility:show">enter</button>
    </form>
    {{message}}
</body>
{% endblock %}

</html>