<!DOCTYPE html>
<html>
{% block content %}

<body>

    <h1>Game page</h1>
    <table>
        <tr>
            <th>team id</th>
            <th>team name</th>
            <th>del</th>
        </tr>
        {%for game in games%}
        <tr>
            <td>
                <p>{{game.id}}</p>
            </td>
            <td>
                <p>
                    {{game.name}}</p>
            </td>
            <td>
                <p>
                    {{game.active}}</p>
            </td>
            <td>
                <p>
                    {{game.points}}</p>
            </td>
            <td>
                <form action="/games" method="post">
                    <button name="setStatus" style="visibility:show">active/deactivate</button>
                    <input name="gameId" type="hidden" value={{game.id}}>
                </form>
            </td>
        </tr>
        {%endfor%}
    </table>


    <form action="/games" method="post">
        <input type="text" name="game_name" required>
        <button name="add_team" style="visibility:show">enter</button>
    </form>
    {{message}}
</body>
{% endblock %}

</html>