<!DOCTYPE html>
<html lang="en-US">
<head>
    <link rel="stylesheet" type="text/css" href="/static/styles/general.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/login.css">
    <title class="title">Game home page</title>
</head>
{% extends 'navigationBar.html'%}

{% block content %}

<body>
<h2 class="title">Game home page</h2>

<button onclick="redirectPage('stations')">stations</button>
<button onclick="redirectPage('teams')">teams</button>
<button onclick="redirectPage('old-games')">old games</button>
<button onclick="redirectPage('new-game')">new game</button>
<button onclick="redirectPage('run-game')">running game</button>

</body>
<script>
    function redirectPage(path) {
        location.assign(path + window.location.search)
    }
</script>

</html>
{% endblock %}