<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="/static/styles/station.css">
<html lang="en-US">
{% block content %}

<body style="background: {{teamInControl.color}}">
<div class="container">
    <h1 class="header">Live station {{stationName}}</h1>
    <table id="ta">
        {%for teamId in range(((teams|length)/2)|int)%}
        <tr>
            <td class="team">
                <button name="setStatus"
                        id="{{teams[teamId].id}}"
                        {%if teamInControl.id==teams[teamId].id %}
                        class="button-on"
                        {%else%}
                        class="button-off"
                        {%endif%}
                        style="background-color: {{teams[teamId].color}};"
                        value={{teams[teamId].id}}
                        onclick="redirectPage('/live-station/takeover?session-id={{sessionId}}&station-id={{stationId}}&team-id={{teams[teamId].id}}')">
                    {{teams[teamId].name}}
                </button>
            </td>
            <td class="team">
                <button name="setStatus"
                        id="{{teams[(teams|length)-1-teamId].id}}"
                        {%if teamInControl.id==teams[(teams|length)-1-teamId].id %}
                        class="button-on"
                        {%else%}
                        class="button-off"
                        {%endif%}
                        style="background-color: {{teams[(teams|length)-teamId-1].color}};"
                        value={{teams[(teams|length)-teamId-1].id}}
                        onclick="redirectPage('/live-station/takeover?session-id={{sessionId}}&station-id={{stationId}}&team-id={{teams[(teams|length)-1-teamId].id}}')">
                    {{teams[(teams|length)-teamId-1].name}}
                </button>
            </td>
        </tr>
        {%endfor%}
    </table>
</div>
{{message}}
</body>
{% endblock %}
<script>
    {%if connected%}
        alert("station already connected")
    {% endif %}
    const interval = setInterval(function () {
        fetch('/game-is-alive' + window.location.search)
            .then((response) => {
                console.log(response)
                response.json().then(data => {
                    let selected = document.querySelectorAll(".button-on")
                    if (response.status === 202) {
                        document.body.style.background = "#FFFFFF"
                        selected.forEach(element => {
                            element.classList.add('button-off');
                            element.classList.remove('button-on');
                        })
                    } else {
                        document.body.style.background = data["color"]
                        if (selected.length > 0) {
                            selected.forEach(element => {

                                if (element.id !== data["teamId"].toString()) {
                                    element.classList.add('button-off');
                                    element.classList.remove('button-on');

                                    let newSelected = document.getElementById(data["teamId"])
                                    newSelected.classList.add('button-on');
                                    newSelected.classList.remove('button-off');
                                }
                            })
                        } else {
                            let newSelected = document.getElementById(data["teamId"])
                            newSelected.classList.add('button-on');
                            newSelected.classList.remove('button-off');
                        }
                    }
                });

            })

    }, 2000);

    function redirectPage(path) {
        location.replace(path)
    }
</script>

</html>