<!DOCTYPE html>
<html>
{% block content %}

<body>

    <h1>Live station</h1>
    <table>
        <tr>
            <th>team id</th>
            <th>team name</th>
            <th>del</th>
        </tr>
        {%for team in teams%}
        <tr>
            <td>
                <p style="color:{{team.color}};">{{team.id}}</p>
            </td>
            <td>
                <p style="color:{{team.color}};">
                    {{team.name}}</p>
            </td>
            <td>
                <form action="/station-handler?game-id={{gameId}}&station-id={{stationId}}" method="post">
                    <button name="setStatus" style="visibility:show">take control</button>
                    <input name="teamId" type="hidden" value={{team.id}}>
                </form>
            </td>
        </tr>
        {%endfor%}
    </table>

    {{message}}

    <form id="test" action="/home" method="post">
        Name * <input id="name" type="hidden"><span id='errName' class='error'>This is a required field</span>
    </form>
</body>
{% endblock %}
<script>
    const interval = setInterval(function () {
        fetch('/game-is-alive?game-id={{gameId}}')
            .then((response) => {
                console.log(response)
                if (response.code != 200) {
                    // alert("The game was ended");

                    document.getElementById('test').onsubmit = function () {
                        return true;
                    }
                }
            })

    }, 5000);
</script>

</html>