<!DOCTYPE html>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">

<html>
{% extends 'navigationBar.html'%}

{% block content %}

<body>
   
    <h1>Live Game {{gameId}}</h1>
    <div>
    <table>
        <tr>
            <th>station id</th>
            <th>station name</th>
            <th>enter</th>
        </tr>
        {%for station in stations%}
        <tr>
            <td>
                <p>{{station.id}}</p>
            </td>
            <td>
                <p>
                    {{station.name}}</p>
            </td>
            <td>
                <p>
                <form action="/live-game?game-id={{gameId}}" method="post">
                    <button name="setStatus" style="visibility:show">enter station</button>
                    <input name="station-id" type="hidden" value={{station.id}}>
                </form>
            </td>
        </tr>
        {%endfor%}
    </table>
</div>
    {{message}}
</body>
{% endblock %}


</html>