<!DOCTYPE html>
<html lang="en-US">
<head>
    <link rel="stylesheet" type="text/css" href="/static/styles/general.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/login.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/tables.css">
    <title class="title">Manage live game</title>
</head>
{% extends 'navigationBar.html'%}

{% block content %}

<body>
<h2 class="title">Game home page</h2>

<button onclick="redirectPageWithConfPop('run-game')">stop game</button>

<div class="section">
    <div class="container">
        <table class="statusTable">
            <tr>
                <th>team name</th>
                <th>team score</th>
            </tr>
            {%for team in teams%}
            <tr>
                <td>
                    <p style="color:{{team.color}};">
                        {{team.name}}</p>
                </td>
                <td>
                    <p id="team{{team.id}}">0</p>
                </td>
            </tr>
            {%endfor%}
        </table>
    </div>
</div>
<div class="section">
    <div class="container">
        <table class="statusTable">
            <tr>
                <th>station name</th>
                <th>team in control</th>
                <th>last station ping</th>
                <th>station alive</th>
            </tr>
            {%for station in stations %}
            <tr>
                <td>
                    <p>
                        {{station.name}}</p>
                </td>
                <td>
                    <p id="teamControlStation{{station.id}}">N/A</p>
                </td>
                <td>
                    <p id="pingStation{{station.id}}">{{station.last_ping}}</p>
                </td>
                <td id="connectedStationTd{{station.id}}">
                    <p id="connectedStation{{station.id}}">{{station.connected}}</p>
                </td>
            </tr>
            {%endfor%}
        </table>
    </div>
</div>
</body>
<script>
    window.onload = getGameScore;
    const interval = setInterval(getGameScore, 2000);

    function redirectPageWithConfPop(path) {
        if (confirm('Are you sure that you want to stop the current game?')) {
            location.assign(path + window.location.search);
        }
    }
    function getGameScore() {
        fetch('/run-game/get-score' + window.location.search)
            .then((response) => {
                if (response.status === 200) {
                    response.json().then(data => {
                        for (let header in data["gameScore"]) {
                            document.getElementById("team" + header).innerText = data["gameScore"][header].toFixed(2);
                        }
                        for (let header in data["stationScore"]) {
                            let teamInControlInput = document.getElementById("teamControlStation" + header);
                            teamInControlInput.innerText = data["stationScore"][header]["teamName"];
                            teamInControlInput.style.color = data["stationScore"][header]["color"];
                            let myDate = new Date(data["stationScore"][header]["lastPing"]);
                            document.getElementById("pingStation" + header).innerText = myDate.toLocaleString();
                            let connected = data["stationScore"][header]["connected"];
                            let connectedInput = document.getElementById("connectedStation" + header);
                            let connectedTd = document.getElementById("connectedStationTd" + header);
                            if (connected != null || !connected){
                                 connectedTd.style.background = "#FF0000";
                                 connectedInput.innerText = "connected"
                            }
                            else {
                                connectedTd.style.background = "#00FF00";
                                connectedInput.innerText = "disconnected"
                            }
                        }
                    });

                }
            })

    }
</script>

</html>
{% endblock %}