<head>
    <link rel="stylesheet" type="text/css" href="/static/styles/navBar.css">
</head>

<div class="centerNav">
    <div id="navbar" class="centerNav">
        <a href="/home" class="nav-link">Home</a>
        <a href="/stations?id={{id}}" class="nav-link">stations</a>
        <a href="/teams?id={{id}}" class="nav-link">teams</a>
        <a href="/old-games?id={{id}}" class="nav-link">old-games</a>
        <a href="/new-game?id={{id}}" class="nav-link">new-games</a>
        <a href="/run-game?id={{id}}" class="nav-link">run-game</a>

    </div>
</div>


{% block content %}

{% endblock %}
