<!DOCTYPE html>
<html lang="en-US">
<head>
    <link rel="stylesheet" type="text/css" href="/static/styles/general.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/tables.css">
    <title class="title">Old games</title>
</head>
{% extends 'navigationBar.html'%}

{% block content %}

<body>
<div class="section">
    <div class="container">
        <h3 class="title">Old games in session: {{sessionId}}</h3>
        <div>
            <table class="statusTable">
                <tr>
                    <th>team names</th>
                    <th>team scores</th>
                    <th>station hold</th>
                    <th>recalculate</th>
                </tr>
                {%for game in gamesScore%}
                <tr>
                    <td>
                        {%for team in game.get("score")%}
                        <p style="color:{{game.get("score").get(team).get("color")}};">{{team}}</p>
                        {%endfor%}
                    </td>
                    <td>
                        {%for team in game.get("score")%}
                        <p style="color:{{game.get("score").get(team).get("color")}};">{{game.get("score").get(team).get("score")}}</p>
                        {%endfor%}
                    </td>
                    <td>
                        {%for station in game.get("lastTeams")%}
                        <p style="color:{{game.get("lastTeams").get(station).get("color")}};">
                        {{game.get("lastTeams").get(station).get("name")}}: {{game.get("lastTeams").get(station).get("teamName")}}</p>

                        {%endfor%}
                    </td>
                    <td>
                            <button onclick="redirectPage('/old-games/re-calc?id={{sessionId}}&game-id={{game.get("id")}}')">
                                recalculate score
                            </button>
                    </td>
                </tr>
                {%endfor%}
            </table>
        </div>
    </div>
</div>
{{message}}
</body>
<script>
    function redirectPage(path) {
        location.assign(path)
    }
</script>
{% endblock %}


</html>