<!DOCTYPE html>
<html>
{% extends 'navigationBar.html'%}

{% block content %}

<body>

    <h1>Stations page</h1>
    <table>
        <tr>
            <th>station id</th>
            <th>station name</th>
            <th>station points</th>
            <th>station team id</th>
            <th>station take overtime</th>
            <th>del</th>
        </tr>
        {%for station in stations%}
        <tr>
            <td>
                <p>{{station.id}}</p>
            </td>
            <td>
                <p>
                    {{station.name}}</p>
            </td>
            <td>
                <p>
                    {{station.point}}</p>
            </td>
            <td>
                <p>
                    {{station.team}}</p>
            </td>
            <td>
                <p>
                    {{station.take_over_time}}</p>
            </td>
            <td>
                <form action="/stations" method="post"> 
                    <button name="removeGameId" style="visibility:show" value="{{station.id}}">remove</button>
                </form>
            </td>
        </tr>
        {%endfor%}
    </table>


    <form action="/stations" method="post">
        <input type="text" name="stations_name" required>
        <input type="number" name="stations_point" required>
        <button name="add_team" style="visibility:show">enter</button>
    </form>
    {{message}}
</body>
{% endblock %}

</html>