<!DOCTYPE html>
<html lang="en-US">
<head>
    <link rel="stylesheet" type="text/css" href="/static/styles/general.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/tables.css">
    <title class="title">Manage station</title>
</head>
{% extends 'navigationBar.html'%}

{% block content %}

<body>

<div class="section">
    <div class="container">
        <h3 class="title">Stations page</h3>
        <form action="/stations?id={{id}}" method="post">
            <div class="login-field">
                <label class="field-label"><b>station name</b></label>
                <input name="stations_name" type="text" autocomplete="off" required>
            </div>
            <br/><br>
            <div class="login-field">
                <label class="field-label"><b>points per min</b></label>
                <input name="stations_point" type="number" step="0.1" autocomplete="off" value="1" required>
            </div>
            <br/><br>
            <div class="login-field">
                <label class="field-label"><b>station bonus seconds</b></label>
                <input name="bonus_time_seconds" type="number" step="0.1" autocomplete="off" value="90" required>
            </div>
            <br/><br>
            <button name="add_team">enter</button>
        </form>
    </div>
</div>
<div class="section">
    <div class="container">
        <table class="statusTable">
            <tr>
                <th>station id</th>
                <th>station name</th>
                <th>station bonus seconds</th>
                <th>station points</th>
                <th>edit</th>
                <th>del</th>
            </tr>
            {%for station in stations%}
            <tr>
                <td>
                    <p>{{station.id}}</p>
                </td>
                <td>
                    <p>
                        {{station.name}}</p>
                </td>
                <form action="/stations/edit?id={{id}}&stationId={{station.id}}" method="post">

                    <td style="width: 15%">
                        <input name="bonus_time_seconds" type="number" step="1" class="editInput"
                               value="{{station.bonus_time_seconds}}" readonly
                               STYLE="width: 100%;"
                               ondblclick='this.readOnly=false' required>
                    </td>
                    <td style="width: 15%">

                        <input name="stations_point" type="number" step="0.1" id="" class="editInput"
                               value="{{station.point}}" readonly
                               STYLE="width: 100%;"
                               ondblclick='this.readOnly=false' required>
                    </td>
                    <td>
                        <button>edit</button>
                    </td>
                </form>
                <td>
                    <button onclick="redirectPage('/stations/remove?id={{id}}&removeStationId={{station.id}}')">remove
                    </button>
                </td>
            </tr>
            {%endfor%}
        </table>
    </div>
</div>


{{message}}
</body>
<script>
    function redirectPage(path) {
        location.assign(path)
    }
</script>
{% endblock %}

</html>