<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="/static/styles/styles.css">
<html lang="en-US">
<head>
    <link rel="stylesheet" type="text/css" href="/static/styles/general.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/tables.css">
    <title class="title">Home page</title>
</head>
{% extends 'navigationBar.html'%}

{% block content %}

<body>

<div class="section">
    <div class="container">
        <h3 class="title">Stations page</h3>
        <form action="/stations?id={{id}}" method="post">
            <div class="login-field">
                <label class="field-label"><b>station name</b></label>
                <input name="stations_name" type="text" autocomplete="off" required>
            </div>
            <br/><br>
            <div class="login-field">
                <label class="field-label"><b>points per min</b></label>
                <input name="stations_point" type="number" autocomplete="off" value="1" required>
            </div>
            <br/><br>
            <button name="add_team">enter</button>
        </form>
    </div>
</div>
<div class="section">
    <div class="container">
        <table class="statusTable">
            <tr>
                <th>station id</th>
                <th>station name</th>
                <th>station points</th>
                <th>del</th>
            </tr>
            {%for station in stations%}
            <tr>
                <td>
                    <p>{{station.id}}</p>
                </td>
                <td>
                    <p>
                        {{station.name}}</p>
                </td>
                <td>
                    <p>
                        {{station.point}}</p>
                </td>
                <td>
                    <form action="/stations?id={{id}}" method="post">
                        <button name="removeStationId" value="{{station.id}}">remove</button>
                    </form>
                </td>
            </tr>
            {%endfor%}
        </table>
    </div>
</div>


{{message}}
</body>
{% endblock %}

</html>