<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="/static/styles/styles.css">
<html lang="en-US">
<head>
    <link rel="stylesheet" type="text/css" href="/static/styles/general.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/tables.css">
    <title class="title">Home page</title>
</head>
{% extends 'navigationBar.html'%}

{% block content %}

<body>

<div class="section">
    <div class="container">
        <h3 class="title">Teams page</h3>
        <form action="/teams?id={{id}}" method="post">
            <div class="login-field">
                <label class="field-label"><b>team name</b></label>
                <input name="team_name" type="text" autocomplete="off" required>
            </div>
            <br/><br>

            <div class="login-field">
                <label class="field-label"><b>team color</b></label>
                <input name="team_color" type="color" required>
            </div>
<!--            , enter team color: <input type="color" name="team_color" required>-->
            <button name="add_team" >enter</button>
        </form>
    </div>
</div>
<div class="section">
    <div class="container">
        <table class="statusTable">
            <tr>
                <th>team id</th>
                <th>team name</th>
                <th>del</th>
            </tr>
            {%for team in teams%}
            <tr>
                <td>
                    <p style="color:{{team.color}};">{{team.id}}</p>
                </td>
                <td>
                    <p style="color:{{team.color}};">
                        {{team.name}}</p>
                </td>
                <td>
                    <form action="/teams?id={{id}}" method="post">
                        <button name="removeTeamId"  value="{{team.id}}">remove</button>
                    </form>
                </td>
            </tr>
            {%endfor%}
        </table>
    </div>
</div>

{{message}}
</body>

</html>

{% endblock %}